-- set standard options
vim.opt.expandtab = true
vim.opt.tabstop = 4
vim.opt.shiftwidth = 4
vim.opt.softtabstop = 4
vim.opt.number = true
vim.opt.guicursor = "n-v-c:block,i-ci-ve:ver25,r-cr-o:hor20"
vim.opt.wildmode = "longest:full,full"
vim.opt.wildoptions:append("pum")

-- show errors on next-line for cursor attention

-- enable code-completion
local capabilities = vim.tbl_deep_extend(
    'force',
    vim.lsp.protocol.make_client_capabilities(),
    require('blink.cmp').get_lsp_capabilities()
)

-- configure lsp
vim.lsp.config['clangd'] = {
    cmd = { 'clangd', '--background-index', '--clang-tidy' },
    capabilities = capabilities
}

-- enable lsp
vim.lsp.enable({"lua_ls"})
vim.lsp.enable({"clangd"})

-- enable directory tree

-- set custom keymaps

-- enable treesitting
require('nvim-treesitter').setup({
    ensure_installed = { "hpp", "cpp" },
    highlight = {
        enable = true
    }
})

-- enable autocompletion w/ blink.cmp
require('blink.cmp').setup({
    keymap = { preset = "default" },
    sources = {
        default = { 'lsp', 'path', 'snippets', 'buffer' }
    },
    signature = { enabled = true },
    appearance = {
        use_nvim_cmp_as_default = true,
        nerd_font_variant = 'mono'
    }
})

-- add transparency plugin
vim.g.transparent_enabled = true
require("transparent").setup({
    groups = {
        'Normal', 'NormalNC', 'Comment', 'Constant', 'Special', 'Identifier',
        'Statement', 'PreProc', 'Type', 'Underlined', 'Todo', 'String', 'Function',
        'Conditional', 'Repeat', 'Operator', 'Structure', 'LineNr', 'NonText',
        'SignColumn', 'CursorLine', 'CursorLineNr', 'StatusLine', 'StatusLineNC',
        'EndOfBuffer'
    },
    extra_groups = {},
    exclude_groups = {},
    on_clear = function() end
})

-- set color scheme
local ok, matugen = pcall(require, 'matugen')
if ok then matugen.setup() end
