-- set standard options
vim.opt.expandtab = true
vim.opt.tabstop = 4
vim.opt.shiftwidth = 4
vim.opt.softtabstop = 4
vim.opt.number = true
vim.opt.termguicolors = true

-- show errors on next-line for cursor attention

-- enable code-completion
local capabilities = vim.tbl_deep_extend(
    'force',
    vim.lsp.protocol.make_client_capabilities(),
    require('blink.cmp').get_lsp_capabilities()
)

-- configure lsp
vim.lsp.config("clangd", {
    cmd = { 'clangd', '--background-index', '--clang-tidy' },
    capabilities = capabilities
})
vim.lsp.config("neocmake", {
    capabilities = capabilities
})
-- vim.lsp.config['clangd'] = {
--    cmd = { 'clangd', '--background-index', '--clang-tidy' },
--    capabilities = capabilities
-- }

-- enable lsp
vim.lsp.enable({"lua_ls"})
vim.lsp.enable({"clangd"})
vim.lsp.enable({"neocmake"})

-- enable directory tree
require('nvim-tree').setup({
    sort = {
        sorter = "case_sensitive"
    },
    view = {
        width = 30
    },
    renderer = {
        group_empty = true
    },
    filters = {
        dotfiles = true
    }
})

-- set custom keymaps
vim.keymap.set('n', '<C-n>', '<cmd>NvimTreeToggle<CR>', { desc = 'Toggle nvim-tree' })

-- enable treesitting
require('nvim-treesitter').setup({
    ensure_installed = { "hpp", "cpp", "ls", "py" },
    highlight = {
        enable = true
    }
})

-- enable autocompletion w/ blink.cmp
require('blink.cmp').setup({
    keymap = {
        preset = "default",
        ['<C-Space>'] = { 'show', 'show_documentation', 'hide_documentation' },
        ['<C-e>'] = { 'hide' },
        ['<C-y>'] = { 'select_and_accept' },
        ['<C-n>'] = { 'select_next', 'fallback' },
        ['<C-p>'] = { 'select_prev', 'fallback' }
    },
    sources = {
        default = { 'lsp', 'path', 'snippets', 'buffer' }
    },
    signature = { enabled = true },
    appearance = {
        use_nvim_cmp_as_default = true,
        nerd_font_variant = 'mono'
    },
    completion = {
        list = {
            selection = {
                preselect = false,
                auto_insert = true
            }
        },
        menu = {
            border = 'single',
            draw = {
                treesitter = { 'lsp' }
            }
        },
        documentation = {
            auto_show = true,
            auto_show_delay_ms = 200,
            window = { border = 'none' }
        },
        ghost_text = {
            enabled = true
        }
    },
    signature = {
        enabled = true,
        window = { border = 'none' }
    }
})

-- add transparency plugin
vim.g.transparent_enabled = true
require("transparent").setup({
    groups = {
        'Normal', 'NormalNC', 'Comment', 'Constant', 'Special', 'Identifier',
        'Statement', 'PreProc', 'Type', 'Underlined', 'Todo', 'String', 'Function',
        'Conditional', 'Repeat', 'Operator', 'Structure', 'LineNr', 'NonText',
        'SignColumn', 'CursorLine', 'CursorLineNr', 'StatusLine', 'StatusLineNC',
        'EndOfBuffer'
    },
    extra_groups = {},
    exclude_groups = {},
    on_clear = function() end
})

-- set color scheme
local ok, matugen = pcall(require, 'matugen')
if ok then matugen.setup() end
