[bar]
order = [ "main" ]

[bar.main]
concave_edge_corners = true
margin_edge = 0
margin_ends = 0
radius = 0
radius_bottom_left = 12
radius_bottom_right = 12
radius_top_left = 0
radius_top_right = 0
capsule = true
capsule_padding = 9.0
widget_spacing = 9
start = [ "workspaces", "tray", "media" ]
center = [ "group:g1", "audio_visualizer", "group:g2" ]
end = [ "status", "group:g3", "date" ]

[bar.main.actions]
middle = "none"

[[bar.main.capsule_group]]
id = "g1"
accordion = true
accordion_direction = "start"
enabled = true
fill = "surface_variant"
members = [ "cpu", "temp", "sysmon", "ram" ]
opacity = 1.0
padding = 6.0
widget_spacing = 18

[[bar.main.capsule_group]]
id = "g2"
accordion = true
accordion_direction = "end"
enabled = true
fill = "surface_variant"
members = [ "control-center", "launcher", "widget-editor", "settings", "session" ]
opacity = 1.0
padding = 6.0
widget_spacing = 18

[[bar.main.capsule_group]]
id = "g3"
accordion = false
accordion_direction = "start"
enabled = true
fill = "surface_variant"
{{- if eq .chezmoi.hostname "ainulindale" }}
members = [ "keybinds", "volume", "notifications", "clipboard", "network", "battery" ]
{{- else if eq .chezmoi.hostname "dwarrowdelf" }}
members = [ "keybinds", "volume", "notifications", "clipboard", "network" ]
{{- end }}
opacity = 1.0
padding = 6.0
widget_spacing = 18

[widget.cpu]
visualization = "none"

[widget.audio_visualizer]
anchor = true
show_when_idle = true
width = 256
bands = 64

[widget.status]
type = "davemhammer/obsidian:status"

[widget.keybinds]
type = "kenn/keybind-cheatshet:keybinds"

[widget.network]
show_label = false

[widget.ram]
stat = "ram_pct"
visualization = "none"

[widget.sysmon]
stat = "gpu_temp"
visualization = "none"

[widget.widget-editor]
glyph = "home-edit"
type = "custom_button"

[widget.widget-editor.actions]
left = {{ .fuzzel_noctalia_command | quote }}

[widget.date]
format = " {:%B %e, %A} {:%H:%M} "
tooltip_format = "{:%Y-%m-%d}"

[widget.media]
album_art_only = true
hide_when_no_media = true

[widget.battery]
show_label = false

[widget.volume]
show_label = false
