[bar]
order = [ "main" ]

[bar.main]
margin_edge = 0
margin_ends = 0
radius_bottom_left = -12
radius_bottom_right = -12
radius_top_left = 0
radius_top_right = 0
capsule = true
widget_spacing = 9
start = [ "launcher", "workspaces", "active_window", "media", "tray" ]
center = [ "control-center", "group:g1", "session" ]
end = [ "notifications", "clipboard", "fuzzel-shell-commands", "group:g2", "group:g3" ]

[[bar.main.capsule_group]]
id = "g1"
fill = "surface_variant"
opacity = 1.0
padding = 6.0
{{- if eq .chezmoi.hostname "dwarrowdelf" }}
members = [ "cpu", "temp", "sysmon", "ram", "network_tx", "network_rx" ]
{{- else if eq .chezmoi.hostname "ainulindale" }}
members = [ "battery", "cpu", "temp", "sysmon", "ram", "network_tx", "network_rx" ]
{{- end }}

[[bar.main.capsule_group]]
id = "g2"
fill = "surface_variant"
opacity = 1.0
padding = 6.0
members = [ "network", "brightness", "input_volume", "output_volume" ]

[[bar.main.capsule_group]]
id = "g3"
fill = "surface_variant"
opacity = 1.0
padding = 6.0
members = [ "date", "clock" ]

{{- if eq .chezmoi.hostname "ainulindale" }}
[widget.battery]
show_label = true
{{- end }}

[widget.media]
album_art_only = true
hide_when_no_media = true

[widget.cpu]
display = "text"

[widget.temp]
display = "text"

[widget.sysmon]
stat = "gpu_temp"
display = "text"

[widget.ram]
stat = "ram_pct"
display = "text"

[widget.network_tx]
display = "gauge"
show_label = false

[widget.network_rx]
display = "gauge"
show_label = false

[widget.network]
show_label = false

[widget.brightness]
show_label = false

[widget.input_volume]
show_label = false

[widget.output_volume]
show_label = false

[widget.date]
format = "{:%B %d, %A}"
tooltip_format = "{:%Y-%m-%d}"

[widget.clock]
format = "{:%H:%M}"

[widget.fuzzel-shell-commands]
command = "~/.config/fuzzel/fuzzel-noctalia-commands.sh"
glyph = "grid-4x4"
type = "custom_button"
