[bar]
order = [ "top", "bottom" ]

[bar.top]
concave_edge_corners = true
margin_edge = 0
margin_ends = 0
radius = 0
radius_bottom_left = 12
radius_bottom_right = 12
radius_top_left = 0
radius_top_right = 0
capsule = true
capsule_padding = 9.0
widget_spacing = 9
position = "top"
start = [ "group:g1", "group:g2", "group:g3", "group:g4", "status" ]
center = [ "audio_visualizer", "media" ]
end = [ "group:g5", "group:g6" ]

[bar.top.actions]
middle = "none"

[[bar.top.capsule_group]]
id = "g1"
accordion = true
accordion_direction = "end"
enabled = true
fill = "surface_variant"
members = [ "control-center", "launcher", "session" ]
opacity = 1.0
padding = 6.0
widget_spacing = 18

[[bar.top.capsule_group]]
id = "g2"
accordion = true
accordion_direction = "end"
enabled = true
fill = "surface_variant"
members = [ "wallpaper", "theme_mode" ]
opacity = 1.0
padding = 6.0
widget_spacing = 18

[[bar.top.capsule_group]]
id = "g3"
accordion = true
accordion_direction = "end"
fill = "surface_variant"
members = [ "power_profile", "gamermode" ]
opacity = 1.0
padding = 6.0
widget_spacing = 18

[[bar.top.capsule_group]]
id = "g4"
accordion = true
accordion_direction = "end"
fill = "surface_variant"
members = [ "keybinds", "bar", "widget-editor" ]
opacity = 1.0
padding = 6.0
widget_spacing = 18

[[bar.top.capsule_group]]
id = "g5"
accordion = true
accordion_direction = "start"
fill = "surface_variant"
members = [ "volume", "brightness", "notifications", "clipboard", "network" ]
opacity = 1.0
padding = 6.0
widget_spacing = 18

[[bar.top.capsule_group]]
id = "g6"
accordion = false
accordion_direction = "start"
fill = "surface_variant"
members = [ "date", "clock" ]
opacity = 1.0
padding = 6.0
widget_spacing = 9

[bar.bottom]
concave_edge_corners = true
margin_edge = 0
margin_ends = 0
radius = 0
radius_bottom_left = 0
radius_bottom_right = 0
radius_top_left = 12
radius_top_right = 12
capsule = true
capsule_padding = 9.0
widget_spacing = 9
position = "bottom"
start = [ "taskbar", "tray" ]
center = [ "workspaces" ]
end = [ "group:g1" ]

[[bar.bottom.capsule_group]]
id = "g1"
accordion = false
accordion_direction = "start"
fill = "surface_variant"
{{- if eq .chezmoi.hostname "ainulindale" }}
members = [ "cpu_usage", "cpu_temp", "gpu_usage", "gpu_temp", "gpu_vram", "ram", "swap", "battery" ]
{{- else if eq .chezmoi.hostname "dwarrowdelf" }}
members = [ "cpu_usage", "cpu_temp", "gpu_usage", "gpu_temp", "gpu_vram", "ram", "swap" ]
{{- end }}
opacity = 1.0
padding = 6.0
widget_spacing = 18

[widget.audio_visualizer]
anchor = true
show_when_idle = true
width = 256
bands = 64

[widget.media]
album_art_only = false
hide_artist = true
hide_when_no_media = true

[widget.gamermode]
type = "nomadcxx/gamer-mode:gamermode"

[widget.keybinds]
type = "kenn/keybind-cheatsheet:keybinds"

[widget.bar]
type = "yuuto/calculator:bar"

[widget.widget-editor]
type = "custom_button"
glyph = "home-edit"

[widget.widget-editor.actions]
left = {{ .fuzzel_noctalia_command | quote }}

[widget.status]
type = "davemhammer/obsidian:status"

[widget.volume]
show_label = false

[widget.brightness]
show_label = false

[widget.network]
show_label = false

[widget.date]
format = "{:%B %e, %A}"
tooltip_format = "{:%Y-%m-%d}"

[widget.clock]
format = "{:%H:%M}"

[widget.cpu_usage]
type = "sysmon"
visualization = "none"
stat = "cpu_usage"
font_family = {{ .widgetmonofont | quote }}

[widget.cpu_temp]
type = "sysmon"
visualization = "none"
stat = "cpu_temp"
font_family = {{ .widgetmonofont | quote }}

[widget.gpu_usage]
type = "sysmon"
visualization = "none"
stat = "gpu_usage"
font_family = {{ .widgetmonofont | quote }}

[widget.gpu_temp]
type = "sysmon"
visualization = "none"
stat = "gpu_temp"
font_family = {{ .widgetmonofont | quote }}

[widget.gpu_vram]
type = "sysmon"
visualization = "none"
stat = "gpu_vram"
font_family = {{ .widgetmonofont | quote }}

[widget.ram]
type = "sysmon"
visualization = "none"
stat = "ram_pct"
font_family = {{ .widgetmonofont | quote }}

[widget.swap]
type = "sysmon"
visualization = "none"
stat = "swap_pct"
font_family = {{ .widgetmonofont | quote }}

[widget.battery]
show_label = true
font_family = {{ .widgetmonofont | quote }}
