[plugins]
enabled = [
    "noctalia/translator",
    "davemhammer/obsidian",
    "kenn/keybind-cheatsheet",
    "nomadcxx/gamer-mode",
    "yuuto/calculator"
]

[[plugins.source]]
enabled = true
kind = "git"
location = "https://github.com/noctalia-dev/official-plugins"
name = "official"

[[plugins.source]]
enabled = true
kind = "git"
location = "https://github.com/noctalia-dev/community-plugins"
name = "community"

[plugin_settings."davemhammer/obsidian"]
vault_path = {{ .notepath | quote }}
daily_folder = "daily"
git_commit_message = "from daily"
show_dirty = true

[plugin_settings."kenn/keybind-cheatsheet"]
compositor = "niri"

[plugin_settings."nomadcxx/gamer-mode"]
main_placement = "floating"

[plugin_settings."yuuto/calculator"]
panel_open_near_click = false
panel_placement = "floating"
panel_position = "center"
