[wallpaper]
transition = [ "honeycomb" ]
transition_on_startup = true
transition_duration = 1000
{{- if eq .chezmoi.hostname "dwarrowdelf" }}
per_monitor_directories = true

[wallpaper.monitor.DP-1]
directory = "~/pictures/wallpapers/3440x1440"

[wallpaper.monitor.HDMI-A-1]
directory = "~/pictures/wallpapers/1920x1080"
{{- else if eq .chezmoi.hostname "ainulindale" }}

[wallpaper.monitor.eDP-1]
directory = "~/pictures/wallpapers/1920x1080"
{{- end }}

[wallpaper.automation]
enabled = true
interval_seconds = 1800
