[wallpaper]
transition = [ "honeycomb" ]
transition_on_startup = true
transition_duration = 1000

{{- if eq .chezmoi.hostname "dwarrowdelf" }}

per_monitor_directories = true

[wallpaper.monitor.DP-1]
directory_dark = {{ .wallpaperpath3440_dark | quote }}
directory_light = {{ .wallpaperpath3440_light | quote }}

[wallpaper.monitor.HDMI-A-1]
directory_dark = {{ .wallpaperpath1920_dark | quote }}
directory_light = {{ .wallpaperpath1920_light | quote }}

{{- else if eq .chezmoi.hostname "ainulindale" }}

per_monitor_directories = false
directory_dark = {{ .wallpaperpath1920_dark | quote }}
directory_light = {{ .wallpaperpath1920_light | quote }}

{{- end}}

[wallpaper.automation]
enabled = false
interval_seconds = 1800
