commands() {
    cat <<EOF
umbriel
obsidian
gamer-mode
EOF
}

run_command() {
    case "$1" in
        "umbriel")      noctalia msg panel-toggle noctalia/umbriel-companion:panel ;;
        "obsidian")     noctalia msg panel-toggle davemhammer/obsidian:manager ;;
        "gamer-mode")   noctalia msg panel-toggle nomadcxx/gamer-mode:main ;;
    esac
}

selection=$(commands | fuzzel --config ~/.config/fuzzel/commands.ini --dmenu)

[ -n "$selection" ] && run_command "$selection"
