{{- $display        := ""           -}}
{{- $display_width  := 1920.0       -}}
{{- $display_height := 1080.0       -}}
{{- $radius         := 0            -}}
{{- $padding        := 6            -}}
{{- $opacity        := 0.70         -}}
{{- $stat_width     := 164          -}}
{{- $stat_height    := 36           -}}
{{- $stat_iteration := 0            -}}
{{- $label_padding  := 64           -}}

{{- if eq .chezmoi.hostname "dwarrowdelf" -}}
{{- $display        = "HDMI-A-1"    -}}
{{- else if eq .chezmoi.hostname "ainulindale" -}}
{{- $display        = "eDP-1"       -}}
{{- end -}}

[desktop_widgets]
schema_version = 2
widget_order = [
    "dw-cpu-freq",
    "dw-cpu-usage",
    "dw-cpu-temp",
    "dw-gpu-vram",
    "dw-gpu-usage",
    "dw-gpu-temp",
    "dw-ram-usage",
    "dw-swap-usage"
]

[desktop_widgets.grid]
cell_size           = 16
major_interval      = 4
visible             = true

{{ range .widget_definition }}
{{ $widget_name     := printf "[desktop_widgets.widget.%s]" .name }}
{{ $widget_name }}
box_height          = {{ $stat_height }}
box_width           = {{ $stat_width }}
cx                  = {{ sub $display_width (div $stat_width 2) }}
cy                  = {{ add (add $.layout_constants.top_bar_height (div $stat_height 2)) (mul $stat_iteration $stat_height) }}
output              = {{ $display | quote }}
placement_height    = {{ $display_height }}
placement_width     = {{ $display_width }}
rotation            = 0.0
type                = "sysmon"
{{ $stat_iteration  = add $stat_iteration 1 -}}
{{ $widget_sets     := printf "[desktop_widgets.widget.%s.settings]" .name }}
{{ $widget_sets }}
background          = true
background_padding  = {{ $padding }}
background_radius   = {{ $radius }}
background_opacity  = {{ $opacity }}
display             = "gauge"
font_family         = {{ $.font.widget_mono | quote }}
gauge_layout        = "horizontal"
label_min_width     = {{ $label_padding }}
show_label          = true
stat                = {{ .stat | quote }}
{{ end }}
