{{- $desktop := env "XDG_CURRENT_DESKTOP" -}}
{{- $wm_companion       := "" -}}
{{- $battery            := "" -}}

{{- if eq .chezmoi.hostname "ainulindale" -}}
{{- $battery            = "battery" -}}
{{- end -}}

{{- if eq $desktop "umbriel" -}}
{{- $wm_companion       = "wm_companion" -}}
{{- end -}}

[bar]
order                   = [ "top" ]

[bar.top]
concave_edge_corners    = true
margin_edge             = 0
margin_ends             = 0
radius                  = 0
radius_bottom_left      = 6
radius_bottom_right     = 6
radius_top_left         = 0
radius_top_right        = 0
capsule                 = false
widget_spacing          = 9
padding                 = 9
position                = "top"
start                   = [ "control-center", "workspaces" ]
center                  = [ "weather", "audio_visualizer", "media" ]
end                     = [ "tray", {{ $battery | quote }}, "volume", "notifications", "network", {{ $wm_companion | quote }}, "gamermode", "clock", "date" ]

[bar.top.actions]
middle                  = "none"

[widget.control-center]
glyph                   = "navigation"

[widget.workspaces]
style                   = "minimal"
max_label_chars         = 3
anchor                  = true

[widget.weather]
show_condition          = false
show_temperature        = false

[widget.audio_visualizer]
anchor                  = true
show_when_idle          = true
width                   = 256
bands                   = 128
capsule                 = true
mirrored                = false

[widget.media]
title_scroll            = "on_hover"
hide_artist             = true
show_progress           = true

[widget.tray]
drawer                  = true

[widget.battery]
show_label              = false

[widget.volume]
show_label              = false

[widget.notifications]
hide_when_no_unread     = true

[widget.network]
show_label              = false

[widget.clock]
format                  = "{:%H:%M}"
tooltip_format          = ""

[widget.date]
format                  = "{:%Y-%m-%d}"
tooltip_format          = "{:%A, %B %d}"

[widget.wm_companion]
display_mode            = "Layout"
type                    = "noctalia/umbriel-companion:bar"

[widget.gamermode]
type                    = "nomadcxx/gamer-mode:gamermode"
