[plugins]
enabled = [
    "noctalia/translator",
    "noctalia/umbriel-companion",
    "noctalia/screen_recorder",
    "davemhammer/obsidian",
    "nomadcxx/gamer-mode",
    "notfinaldev/youtube-search",
    "ahmedhossamdev/sticky-notes"
]

[[plugins.source]]
enabled                 = true
kind                    = "git"
location                = "https://github.com/noctalia-dev/official-plugins"
name                    = "official"

[[plugins.source]]
enabled                 = true
kind                    = "git"
location                = "https://github.com/noctalia-dev/community-plugins"
name                    = "community"

[plugin_settings."noctalia/umbriel-companion"]
panel_placement         = "floating"
panel_position          = "center"

[plugin_settings."noctalia/screen_recorder"]
directory               = {{ .directory.media.screen_recordings | quote }}
frame_rate              = 60
video_codec             = "h264"

[plugin_settings."davemhammer/obsidian"]
panel_placement         = "floating"
panel_position          = "center"
vault_path              = {{ .directory.document.notes | quote }}
daily_folder            = "daily"
git_commit_message      = "from daily"
show_dirty              = true

[plugin_settings."nomadcxx/gamer-mode"]
panel_placement         = "floating"
panel_position          = "center"

[plugin_settings."ahmedhossamdev/sticky-notes"]
panel_placement         = "floating"
panel_position          = "center"
font_size               = 13
show_count              = true
use_wallpaper_colors    = false
save_path               = {{ .directory.document.sticky_notes | quote }}
