# theme
font: {{ .wlr_which_key.font }} {{ .wlr_which_key.font_size }}
background: "{{ "{{colors.background.default.hex}}e6" }}"
color: "{{ "{{colors.on_surface.default.hex}}" }}"
border: "{{ "{{colors.primary.default.hex}}" }}"
separator: {{ .wlr_which_key.separator | quote }}
border_width: {{ .wlr_which_key.border_width }}
corner_r: {{ .wlr_which_key.border_radius }}
padding: {{ .wlr_which_key.padding }}
rows_per_column: {{ .wlr_which_key.rows_per_column }}
column_padding: {{ .wlr_which_key.column_padding }}

# position
anchor: {{ .wlr_which_key.anchor }}
margin_right: {{ .wlr_which_key.margin_right }}
margin_bottom: {{ .wlr_which_key.margin_bottom }}
margin_left: {{ .wlr_which_key.margin_left }}
margin_top: {{ .wlr_which_key.margin_top }}

# behavior
inhibit_compositor_keyboard_shortcuts: {{ .wlr_which_key.inhibit_comp }}
auto_kbd_layout: {{ .wlr_which_key.auto_kdb_layout }}

menu:
  - key: "l"
    desc: Layout
    submenu:
      - key: "w"
        desc: Window
        submenu:
          - key: "l"
            desc: Floating
            cmd: umbriel msg window-toggle-floating
          - key: "f"
            desc: Fullscreen
            cmd: umbriel msg window-toggle-fullscreen
          - key: "m"
            desc: Maximize
            cmd: umbriel msg window-toggle-maximize
          - key: "p"
            desc: Pin
            cmd: umbriel msg window-toggle-pinned
      - key: "s"
        desc: Workspace
        submenu:
          - key: "m"
            desc: Master
            cmd: umbriel msg workspace-set-layout:master
          - key: "d"
            desc: Dwindle
            cmd: umbriel msg workspace-set-layout:dwindle
          - key: "s"
            desc: Scrolling
            cmd: umbriel msg workspace-set-layout:scrolling
  - key: "r"
    desc: Resize
    submenu:
      - key: "h"
        desc: Height
        submenu:
          - key: "a"
            desc: 33.3%
            cmd: umbriel msg window-set-secondary-extent:0.333
          - key: "s"
            desc: 50.0%
            cmd: umbriel msg window-set-secondary-extent:0.500
          - key: "d"
            desc: 66.7%
            cmd: umbriel msg window-set-secondary-extent:0.667
          - key: "f"
            desc: 100.0%
            cmd: umbriel msg window-set-secondary-extent:1.000
      - key: "w"
        desc: Width
        submenu:
          - key: "a"
            desc: 33.3%
            cmd: umbriel msg window-set-primary-extent:0.333
          - key: "s"
            desc: 50.0%
            cmd: umbriel msg window-set-primary-extent:0.500
          - key: "d"
            desc: 66.7%
            cmd: umbriel msg window-set-primary-extent:0.667
          - key: "f"
            desc: 100.0%
            cmd: umbriel msg window-set-primary-extent:1.000
  - key: "m"
    desc: Move to Monitor
    submenu:
      - key: "c"
        desc: Column
        submenu:
          - key: "h"
            desc: Left
            cmd: umbriel msg column-move-to-output-left
          - key: "l"
            desc: Right
            cmd: umbriel msg column-move-to-output-right
          - key: "k"
            desc: Up
            cmd: umbriel msg column-move-to-output-up
          - key: "j"
            desc: Down
            cmd: umbriel msg column-move-to-output-down
      - key: "s"
        desc: Workspace
        submenu:
          - key: "h"
            desc: Left
            cmd: umbriel msg workspace-move-to-output-left
          - key: "l"
            desc: Right
            cmd: umbriel msg workspace-move-to-output-right
          - key: "k"
            desc: Up
            cmd: umbriel msg workspace-move-to-output-up
          - key: "j"
            desc: Down
            cmd: umbriel msg workspace-move-to-output-down
