animations {
    slowdown 1

    window-open {
        duration-ms 150
        curve "ease-out-quad"
    }

    window-close {
        duration-ms 150
        curve "ease-out-quad"
    }

    window-movement {
        duration-ms 150
        curve "ease-out-quad"
    }

}
