
binds {

    // generics
    Mod+Return                  { spawn "alacritty"; }

    // noctalia shell
    Mod+E                       { spawn-sh "noctalia msg panel-toggle launcher"; }
    Mod+I                       { spawn-sh "noctalia msg panel-toggle control-center"; }
    Mod+Z                       { spawn-sh "noctalia msg settings-toggle"; }
    Mod+V                       { spawn-sh "noctalia msg panel-toggle clipboard"; }
    Mod+W                       { spawn-sh "noctalia msg panel-toggle wallpaper"; }
    Mod+Shift+Q                 { spawn-sh "noctalia msg panel-toggle session"; }

    // column manip
    Mod+Shift+C                 { center-column; }
    Mod+Shift+M                 { maximize-column; }
    Mod+Shift+H                 { move-column-left; }
    Mod+Shift+L                 { move-column-right; }
    Mod+Shift+J                 { move-column-to-workspace-down; }
    Mod+Shift+K                 { move-column-to-workspace-up; }
    Mod+Shift+Alt+H             { move-column-to-monitor-left; }
    Mod+Shift+Alt+L             { move-column-to-monitor-right; }
    Mod+Shift+Alt+K             { move-column-to-monitor-up; }
    Mod+Shift+Alt+J             { move-column-to-monitor-down; }
    Mod+H                       { focus-column-left; }
    Mod+L                       { focus-column-right; }
    Mod+Shift+1                 { move-column-to-workspace 1; }
    Mod+Shift+2                 { move-column-to-workspace 2; }
    Mod+Shift+3                 { move-column-to-workspace 3; }
    Mod+Shift+4                 { move-column-to-workspace 4; }
    Mod+Shift+5                 { move-column-to-workspace 5; }
    Mod+Shift+6                 { move-column-to-workspace 6; }
    Mod+Shift+7                 { move-column-to-workspace 7; }
    Mod+Shift+8                 { move-column-to-workspace 8; }
    Mod+Shift+9                 { move-column-to-workspace 9; }

    // window manip
    Mod+Shift+A                 { toggle-window-floating; }
    Mod+Shift+F                 { fullscreen-window; }
    Mod+Q                       { close-window; }
    Mod+K                       { focus-window-up; }
    Mod+J                       { focus-window-down; }
    Mod+bracketleft             { consume-or-expel-window-left; }
    Mod+bracketright            { consume-or-expel-window-right; }
    Mod+A                       { set-column-width "33.33%"; }
    Mod+S                       { set-column-width "50%"; }
    Mod+D                       { set-column-width "66.67%"; }
    Mod+F                       { set-column-width "100%"; }
    Mod+R                       { switch-preset-column-width; }
    Mod+T                       { switch-preset-window-height; }

    // workspace manip
    Mod+Ctrl+Alt+H              { move-workspace-to-monitor-left; }
    Mod+Ctrl+Alt+L              { move-workspace-to-monitor-right; }
    Mod+Ctrl+Alt+K              { move-workspace-to-monitor-up; }
    Mod+Ctrl+Alt+J              { move-workspace-to-monitor-down; }
    Mod+Ctrl+J                  { focus-workspace-down; }
    Mod+Ctrl+K                  { focus-workspace-up; }
    Mod+1                       { focus-workspace 1; }
    Mod+2                       { focus-workspace 2; }
    Mod+3                       { focus-workspace 3; }
    Mod+4                       { focus-workspace 4; }
    Mod+5                       { focus-workspace 5; }
    Mod+6                       { focus-workspace 6; }
    Mod+7                       { focus-workspace 7; }
    Mod+8                       { focus-workspace 8; }
    Mod+9                       { focus-workspace 9; }

    // monitor manip
    Mod+Alt+H                   { focus-monitor-next; }
    Mod+Alt+L                   { focus-monitor-previous; }
    Mod+Alt+K                   { focus-monitor-up; }
    Mod+Alt+J                   { focus-monitor-down; }

    // overview manip
    Mod+O                       { toggle-overview; }

    // system manip
    Mod+Shift+Slash             { show-hotkey-overlay; }

    // volume control
    XF86AudioRaiseVolume        { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    XF86AudioLowerVolume        { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute               { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute            { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    // audio control
    XF86AudioPlay               { spawn-sh "playerctl play-pause"; }
    XF86AudioStop               { spawn-sh "playerctl stop"; }
    XF86AudioPrev               { spawn-sh "playerctl previous"; }
    XF86AudioNext               { spawn-sh "playerctl next"; }

    // brightness control
    XF86MonBrightnessUp         { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown       { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    // screenshots
    Print                       { screenshot; }
    Ctrl+Print                  { screenshot-screen; }
    Alt+Print                   { screenshot-window; }

    // lifecycle
    Ctrl+Alt+Delete             { quit; }
}


