
binds {

    // generics
    Mod+Return                  { spawn "alacritty"; }
    Mod+Shift+Minus             { spawn-sh "show-hotkey-overlay"; }

    // noctalia shell
    Mod+Period                  { spawn-sh "noctalia msg panel-toggle launcher"; }
    Mod+I                       { spawn-sh "noctalia msg panel-toggle control-center"; }
    Mod+Comma                   { spawn-sh "noctalia msg settings-toggle"; }
    Mod+W                       { spawn-sh "noctalia msg panel-toggle wallpaper"; }
    Mod+S                       { spawn-sh "noctalia msg panel-toggle ahmedhossamdev/sticky-notes:panel"; }
    Mod+D                       { spawn-sh "noctalia msg panel-toggle davemhammer/obsidian:manager"; }
    Mod+G                       { spawn-sh "noctalia msg panel-toggle nomadcxx/gamer-mode:main:"; }
    Alt+Tab                     { spawn-sh "noctalia msg window-switcher"; }
    Mod+Shift+Q                 { spawn-sh "noctalia msg panel-toggle session"; }

    // submap
    Mod+N                       { spawn-sh "wlr-which-key ~/.config/wlr-which-key/config-noctalia.yaml"; }
    Mod+C                       { spawn-sh "~/.config/wlr-which-key/wlr-which-key-caller.sh"; }

    // column manip
    Mod+Shift+H                 { move-column-left; }
    Mod+Shift+L                 { move-column-right; }
    Mod+Shift+J                 { move-column-to-workspace-down; }
    Mod+Shift+K                 { move-column-to-workspace-up; }
    Mod+H                       { focus-column-left; }
    Mod+L                       { focus-column-right; }
    Mod+Shift+1                 { move-column-to-workspace 1; }
    Mod+Shift+2                 { move-column-to-workspace 2; }
    Mod+Shift+3                 { move-column-to-workspace 3; }
    Mod+Shift+4                 { move-column-to-workspace 4; }
    Mod+Shift+5                 { move-column-to-workspace 5; }
    Mod+Shift+6                 { move-column-to-workspace 6; }
    Mod+Shift+7                 { move-column-to-workspace 7; }
    Mod+Shift+8                 { move-column-to-workspace 8; }
    Mod+Shift+9                 { move-column-to-workspace 9; }

    // window manip
    Mod+Q                       { close-window; }
    Mod+K                       { focus-window-up; }
    Mod+J                       { focus-window-down; }
    Mod+bracketleft             { consume-or-expel-window-left; }
    Mod+bracketright            { consume-or-expel-window-right; }
    Mod+R                       { switch-preset-column-width; }
    Mod+T                       { switch-preset-window-height; }

    // workspace manip
    Mod+Ctrl+J                  { focus-workspace-down; }
    Mod+Ctrl+K                  { focus-workspace-up; }
    Mod+1                       { focus-workspace 1; }
    Mod+2                       { focus-workspace 2; }
    Mod+3                       { focus-workspace 3; }
    Mod+4                       { focus-workspace 4; }
    Mod+5                       { focus-workspace 5; }
    Mod+6                       { focus-workspace 6; }
    Mod+7                       { focus-workspace 7; }
    Mod+8                       { focus-workspace 8; }
    Mod+9                       { focus-workspace 9; }

    // monitor manip
    Mod+Alt+H                   { focus-monitor-next; }
    Mod+Alt+L                   { focus-monitor-previous; }
    Mod+Alt+K                   { focus-monitor-up; }
    Mod+Alt+J                   { focus-monitor-down; }

    // overview manip
    Mod+O                       { toggle-overview; }

    // system manip
    Mod+Shift+Slash             { show-hotkey-overlay; }

    // volume control
    XF86AudioRaiseVolume        { spawn-sh "noctalia msg volumn-up 5"; }
    XF86AudioLowerVolume        { spawn-sh "noctalia msg volumn-down 5"; }
    XF86AudioMute               { spawn-sh "noctalia msg volume-mute"; }
    XF86AudioMicMute            { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    // audio control
    XF86AudioPlay               { spawn-sh "playerctl play-pause"; }
    XF86AudioStop               { spawn-sh "playerctl stop"; }
    XF86AudioPrev               { spawn-sh "playerctl previous"; }
    XF86AudioNext               { spawn-sh "playerctl next"; }

    // brightness control
    XF86MonBrightnessUp         { spawn-sh "noctalia msg brightness-up 5"; }
    XF86MonBrightnessDown       { spawn-sh "noctalia msg brightness-down 5"; }

    // lifecycle
    Ctrl+Alt+Delete             { quit; }
}


