spawn-at-startup "noctalia"
prefer-no-csd

xwayland-satellite {
    path "xwayland-satellite"
}

cursor {
    xcursor-theme "Vimix-cursors"
    xcursor-size 28
}

hotkey-overlay {
    skip-at-startup
}

debug {
    honor-xdg-activation-with-invalid-serial
}

include "./src/animations.kdl"
include "./src/blur.kdl"
include "./src/environment.kdl"
include "./src/input.kdl"
include "./src/keybinds.kdl"
include "./src/layout.kdl"
include "./src/output.kdl"
include "./src/overview.kdl"
include "./src/rules.kdl"
include "./noctalia.kdl"
