[general]
import = [
    "themes/noctalia.toml"
]

[selection]
save_to_clipboard = true

[[mouse.bindings]]
mouse = "Right"
action = "Paste"

[window]
dynamic_title = true
padding.x = 10
padding.y = 10
opacity = 0.85

[font]
size = {{ .font.terminal_size }}

[font.normal]
family = {{ .font.terminal | quote }}
style = "Regular"

[font.bold]
family = {{ .font.terminal | quote }}
style = "Bold"

[font.italic]
family = {{ .font.terminal | quote }}
style = "Italic"

[font.bold_italic]
family = {{ .font.terminal | quote }}
style = "Bold Italic"

[font.offset]
x = 0
y = 0
