[general]
import = [
    "~/.config/alacritty/themes/noctalia.toml"
]

[window]
dynamic_title = true
padding.x = 10
padding.y = 10
opacity = 0.85

[font]
size = 12

[font.normal]
family = {{ .font | quote }}
style = "Regular"

[font.bold]
family = {{ .font | quote }}
style = "Bold"

[font.italic]
family = {{ .font | quote }}
style = "Italic"

[font.bold_italic]
family = {{ .font | quote }}
style = "Bold Italic"

[font.offset]
x = 0
y = 0
